@import '../../../../light.scss';

.card-user-login {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: $background;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.logo-container {
  position: absolute;
  height: 120px;
  width: 135px;
  top: 15px;
  text-align: center;
}

.logo {
  content: url('/assets/attendfy.svg');
  width: 135px;
}
