$bg-clear-1: #fcfafa;
$bg-clear-2: #FAF2F3;
$text: #59173e;
$btn-default: #b31f76;
$btn-default-text: #FFFFFF;
$color-primary: #59173e;
$color-primary-hover: #eacbd2;
$left-menu-color: #eacbd2;
$navbar-height: 50px;


$content-box: #d3bdc2 ;

$content-border-radius: 30px
